<h1>Nytt spørsmål</h1>
<div class="border border-primary">
    <br />
    

    <form [formGroup]="Skjema" (ngSubmit)="onSubmit()">

        <!--kode fra https://getbootstrap.com/docs/4.0/components/forms/ -->
        <div class="col-sm-6">
            <div class="form-group">
                <h5>Her kan du stille et nytt spørsmål om våre tjenester: </h5>
                

                <label for="exampleFormControlInput1">Epostadresse</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" formControlName="dinEpost" required>
                <div *ngIf="this.Skjema.controls.dinEpost.status=='INVALID'" style="color:red" >Epost må være av dette formatet: name@example.com </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1" >Skriv spørsmålet ditt her</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="dittSporsmal" placeholder="Spørsmålet må være mellom 10-50 tegn." required></textarea>
                <div *ngIf="this.Skjema.controls.dittSporsmal.status=='INVALID'" style="color:red">Spørsmålsfeltet kan ikke være tomt og må være mellom 10-50 tegn.</div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!Skjema.valid">Send spørsmål</button>
            <button type="button" class="btn btn-danger"routerLink="/">Avbryt</button>
            <br />
            <br />

            <div id="sendt" style="color:green"></div>
            <br/>
        </div>

    </form>
</div>

