

<h1>Tidligere stilte spørsmål</h1>
<div>
    <button class="btn btn-outline-secondary" (click)='hentAlleSporsmal()'>Hent spørsmål</button>
    {{laster}}

  

        
<div *ngFor='let svarene of alleSporsmal'>
    <br />

    <button type="submit" class="btn btn-info btn-block" (click)="skrivutSvar()"> {{svarene.svarId}} : {{svarene.sporsmalet}} </button>
    <div id="svaret" class="svaret">
        <div class=" border border-info" style="padding:20px">


            {{svarene.svaret}}
            <br />
            <br />
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="liker2()" [disabled]="click1">Liker {{svarene.liker}}</button>

            <button type="button" class="btn btn-outline-danger btn-sm" (click)="misliker2()" [disabled]="click2">Misliker {{svarene.misliker}}</button>
            <div>Mine liker: {{liker}}</div>
            <div>Mine misliker: {{misliker}}</div>
        </div>
    </div>

    <br />
    <br />


</div>
 
</div>





