
<h1>Tidligere stilte spørsmål</h1>
<div>
    <button (click)='hentAlleSporsmal()'>Hent spørsmål</button>
    {{laster}}

    <div ng-app="minKlasse" ng-controller="myCtrl">

        
        <div *ngFor='let svarene of alleSporsmal'>
            <br />
            <div class=" border border-success">
                <button type="submit" (ngSubmit)="onSubmit()"> {{svarene.svarId}} : {{svarene.sporsmalet}} </button>

                <div class="svaret">{{svarene.svaret}}</div>
                <br />
            </div>

        </div>
    </div>
</div>





