

<h1>Tidligere stilte spørsmål</h1>
<!-- <div>
    <button class="btn btn-outline-secondary" (click)='hentAlleSporsmal()'>Hent spørsmål</button>
    {{laster}}




<div *ngFor='let svarene of alleSporsmal; index as indeks'>
    <br />

    <button type="submit" class="btn btn-info btn-block" (click)="skrivutSvar()"> {{svarene.svarId}} : {{svarene.sporsmalet}} </button>
    <div id="svaret[indeks]" class="svaret">
        <div class=" border border-info" style="padding:20px">


            {{svarene.svaret}}
            <br />
            <br />
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="liker2()" [disabled]="click1">Liker {{svarene.liker}}</button>

            <!--<button type="button" class="btn btn-outline-primary btn-sm" [disabled]="buttons[indeks]" (click)="buttons[indeks] = true">Liker</button>-->

            <!--<button type="button" class="btn btn-outline-danger btn-sm" routerLink="/nyttSporsmal"> Nytt spørsmål</button>
            <div>Mine liker: {{liker}}</div>
            <div id="utskrift" style="color:green"></div>

        </div>
    </div>

    <br />
    <br />


</div>

</div> -->

<!--<div>
    <button class="btn btn-outline-secondary" (click)='hentAlleSporsmal()'>Hent spørsmål</button>
    {{laster}}

</div>
    
<div *ngFor='let svarene of alleSporsmal'>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="tittel">
            <button type="submit" class="btn btn-info btn-block" (click)="skrivutSvar()"> {{svarene.svarId}} : {{svarene.sporsmalet}} </button>

            <ng-template ngbPanelContent>
                {{svarene.svaret}}
            </ng-template>
        </ngb-panel>

</div>-->





    
            
       
      <!--  <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b>Fancy</b> title &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.
            </ng-template>
        </ngb-panel>
        <ngb-panel title="Disabled" [disabled]="true">
            <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.
            </ng-template>
        </ngb-panel>
    </ngb-accordion>-->





<!--<ngb-accordion [closeOthers]="true" activeIds="static-1">
    <ngb-panel id="static-1" title="Simple">
        <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
        </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2">
        <ng-template ngbPanelTitle>
            <span>&#9733; <b>Fancy</b> title &#9733;</span>
        </ng-template>
        <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
        </ng-template>
    </ngb-panel>
    <ngb-panel id="static-3" title="Disabled" [disabled]="true">
        <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
        </ng-template>
    </ngb-panel>
</ngb-accordion>-->



<div *ngIf="laster"></div>
<div *ngFor='let svarene of alleSporsmal; index as indeks'>

    <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static0" title="{{svarene.svarId}}. {{svarene.sporsmalet}}">
           {{vent}}
            <ng-template ngbPanelContent>
                {{svarene.svaret}}
                <br />
                <br />
                <div id="liker[indeks]" style="color:blue">{{svarene.liker}} har likt dette.</div>
                <div id="misliker[indeks]" style="color:red">{{svarene.misliker}} har mislikt dette.</div>
                
                <button type="button" class="btn btn-outline-primary btn-sm" [disabled]="buttons[indeks]" (click)="lagreVurdering(svarene.svarId); buttons[indeks]=true">Liker</button>
                <button type="button" class="btn btn-outline-danger btn-sm" [disabled]="buttons[indeks]" (click)="lagreVurderingMisliker(svarene.svarId); buttons[indeks]=true">Misliker</button>

                <button type="button" class="btn btn-outline-secondary btn-sm" routerLink="/nyttSporsmal"> Nytt spørsmål</button>
                <br />

                <br/>
                <div *ngIf="buttons[indeks]" id="utskrift" style="color:green">Takk for vurderingen!</div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    </div> 